body{
    background-image: url("light-blue-gradient-background.avif");
    background-size: cover;
    background-repeat: no-repeat;
    font-size: 20px;
    color: darkcyan;
}
#box{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}
#container{
    border-style: solid;
    border-radius: 10px;
    box-shadow: 5px;
    width:450px;
    height: 250px;
    padding-left: 20px;
}
h2{
    text-align: center;
    font-size: 30px;
}
#celsius{
    background-image: url("light-blue-gradient-background.avif");
    float: right;
    margin-right: 30px;
}
#fahrenheit{
    background-image: url("light-blue-gradient-background.avif");
    float: right;
    margin-right: 30px;
}
#kelvin{
    background-image: url("light-blue-gradient-background.avif");
    float: right;
    margin-right: 30px;
}